attr==0.3.2
BeautifulSoup==3.2.2
beautifulsoup4==4.14.3
cffi==2.0.0
charset_normalizer==3.3.2
checks==0.2
ConfigParser==7.2.0
Cython==3.2.4
defusedxml==0.7.1
docutils==0.16
filelock==3.25.0
fitz==0.0.1.dev2
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.151.9
inspect2==0.1.2
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
lxml_html_clean==0.4.4
mtrand==0.1
mypy==1.19.1
olefile==0.47
pandas==3.0.1
protobuf==7.34.0
psutil==7.2.2
pycryptodome==3.23.0
pygame==2.6.1
PyInstaller==6.19.0
pyOpenSSL==25.3.0
PyQt6==6.10.2
PySide6==6.10.2
pytest==9.0.2
pytest_run_parallel==0.8.2
python_bcrypt==0.3.2
PyYAML==6.0.1
PyYAML==6.0.3
redis==7.2.1
scipy_doctest==2.1.0
setuptools==82.0.0
thread==2.0.6
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
